<div fxLayout="row-wrap">

    <div fxFlex>
  
      <mat-card style="margin: 10px;" class="gold">
        <mat-card-title class="center">
          <mat-icon>navigation</mat-icon>
        </mat-card-title>
  
        <br />
  
        <mat-card-content class="blue center" style="font-size: 35px;">
          <p style="font-size: 25px;">
            934 Wizardry Way
          </p>
         <p style="font-size: 25px;">
          Hogwarts, Nebraska
         </p>
        </mat-card-content>
      </mat-card>
    </div>
  
    <div fxFlex>
      <mat-card style="margin:10px">
        <mat-card-title class="center" style="color: #946b2d;">
          <mat-icon>phone</mat-icon>
        </mat-card-title>
        <br />
        <mat-card-content class="blue center">
          <p style="font-size: 25px;">
            Direct: 308-765-9498
          </p>
          <p style="font-size: 25px;">
            Toll Free: 1-800-756-8967
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  
  <br /> 

  <div fxLayout fxLayoutAlign="center">
  <img src="/src/assets/nebraska-road-map-square.png" height="400px"/>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="mat-elevation-z0">
      <mat-card-content>
        <img src="/src/assets/wizard-hat.png" alt="wizardHat" class="blue" />
         Look for the Wizard hats to indicate our locations sate wide
      </mat-card-content>
    </mat-card>
  </div>
    
<br />
  <div fxLayout="colum" fxLayoutAlign="center">
    <p style="font-size: 28px" class="gold">
    Visit us Online or at one of our many locations!
  </p>
  </div>
